.backgroundImage {
    background-Image: url("../styles/LightThemeLandingPage.jpg");
    background-Size: cover;
    background-Repeat: no-repeat;
    min-Height: 100vh;
}
.title {
    color: black;
    font-Size: 90px;
    font-Family: Montserrat;
}


.loginButton {
    color: white;
    font-Family: Montserrat;
    background-Color: #282c34;
    font-Size: 50px;
    border-Width: 20px;
    border-Radius: 10px;
    width: 250px;
};